@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header class="text-center">
    <div class="my-5">
        <h1 class="font-weight-bold text-stroke-info text-lg">403</h1>
        <h4 class="text-stroke-danger">@ViewData["Title"]</h4>
        <p>You don't have permission to access</p>
    </div>
</header>